# Python files
*.pyc
*.pyo
__pycache__/

# Environment files
.env
*.env

# Django specific
db.sqlite3
*.sqlite3
/media/*
/staticfiles/
*.log

# VSCode settings
.vscode/

# Node.js (if using frontend)
node_modules/
dist/
*.log
